/* If you're using Create React App, add this to your index.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dce1e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dflx {
  display: flex;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;  
}

.mr10{
  margin-right: 10px;
}
.pd10{
  padding: 10px;
}
.mr20{
  margin: 20px;
}
.pd20{
  padding: 20px;
} 
.alignend{
  justify-content: space-between;
}