.order-item-container{
    display: grid;
    grid-template-columns: 5% 25% 20% 15% 15% 15%;
    grid-gap: 10px;
    border-top: 2px solid #d1d5db;
    padding: 10px;
}
.order-list-container{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    height: 300px;
    overflow-y: scroll;
    
}
.recent-orders-container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.recent-order-text{
    font-weight: 700;
}
.filter-container{
    background-color: #dce1e8;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;

    padding: 0px 8px;
}
.filter{
    font-size: 13px;
    padding: 2px 7px;
}
.head{
    justify-content: space-between;
    margin-bottom: 20px;
}
.shipstatus{
    border-radius: 20px;
    border-width: 2px;
    justify-content: space-evenly;
}
.order-header p{
    color: #9b9696;
    font-weight: 500;
}