.topbar-container{
    display: grid;
    grid-template-columns: 40% 30% 10% 18%;
    grid-gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.search-icon{
    color: white;
    background-color: #008eff;
    border-radius: 10px;
    height: 40px;
    width: 40px;
}
.search-bar{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 10px;
}
.top-input{
    border-radius: 10px;
}
.searchbox{
    background-color: #dce1e8;
    border-radius: 10px;
    width: 100%;
    height: 40px;
}