.top-products{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.top-products-list-container{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 5px;

}

.top-product-item-container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 10px;
    background-color: #dce1e8;
    border-radius: 10px;
    padding: 10px;
  }

.product-details{
  margin: 10px;
}
.product-name span{
  font-size: 14px;
}
.product-sold span{
  font-size: 14px;
}
.product-price span{
  font-size: 14px;
}
.top-products-title{
    font-size: 19px;
    font-weight: 500;
    color: #1f2937;
    margin: 0;
}

