.order-item-container{
    display: grid;
    grid-template-columns: 10% 30% 15% 15% 15% 15%;
    grid-gap: 10px;
    border-top: 2px solid #d1d5db;
}
.order-list-container{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    
}
.recent-orders-container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.recent-order-text{
    font-weight: 700;
}
.filter-container{
    background-color: aliceblue;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 0px 8px;
}
.filter{
    font-size: 13px;
}
.head{
    justify-content: space-around;
    margin-bottom: 20px;
}